@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

#root {
  height: 100vh;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(77 0 63 / 25%);
}

.page-wrapper {
  height: 100%;
  display: flex;
  flex: 1 0 auto;
}

.outlet {
  flex: 1 0 auto;
}

.logo {
  color: white;
}

.header-wrapper {
  display: flex;

  justify-content: space-between;
  align-items: center;

  background: rgb(77, 0, 63);

  padding: 20px;
}

.navigation {
  color: white;
}

.navigation nav > * {
  margin-left: 10px;

  color: white;
  text-decoration: none;
}

.inline-flex {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.sider-search-wrapper {
  display: flex;
  justify-content: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

:is(.form-name-wrapper, .form-question-wrapper) {
  padding: 20px;
}

.form-questions-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-card {
  padding: 20px;
}

.text-overflow-1 {
  text-overflow: ellipsis;
  overflow: hidden;

  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;

  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.form-card__link {
  text-decoration: none;
  color: white;
}

.form-card__link:visited {
  color: white;
}

.link-button {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.question-top {
  background: rgb(194, 166, 253);
  padding: 0.5rem;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.answer-bottom {
  color: white;
  background: rgb(62, 25, 122);
  padding: 0.5rem;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
